* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background: repeating-linear-gradient(135deg, red 0% 25%, transparent 25% 50%, red 50% 75%, transparent 75% 100%) center / 50px 50px,
        linear-gradient(45deg, #9f09 60%, transparent), linear-gradient(225deg, pink 70%, transparent);;
}

header {
    width: 100%;
    height: 45px;
    background: black;
    position: sticky;
    text-align: center;
}

header h2 {
    height: inherit;
    color: white;
    float: right;
    margin-right: 3%;
    margin-top: 10px;
}

form {
    background-color: beige;
    border: 1px solid black;
    text-align: center;
    padding: 0px 20px;
    gap: 3%;
}

iframe{
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    .hamburger {
        background: black;
        width: 45px;
        height: 45px;
        padding: 4px 5px;
        float: left;
        border: px solid blue;
    }

    .ham {
        height: 4px;
        width: 33px;
        display: block;
        margin: 6px 0 0 0;
        background-color: white;
        transition: 0.5s 0s transform ease-out, 0.5s 0s width ease-out;
    }
    
    .hamburger:hover .ham{
        opacity: 0;
    }
    
    .hamburger:hover .ham:first-of-type{
        opacity: 1;
        background: red;
        transform: rotate(45deg) translate(3px, 12px);
        width: 45px;
    }
    
    .hamburger:hover .ham:last-of-type{
        opacity: 1;
        background: red;
        transform: rotate(-45deg) translate(2px, -11px);
        width: 45px;
    }


    .hamburger:hover .hamburger-content {
        display: block;
    }

    .hamburger-content {
        position: relative;
        top: 10px;
        right: 5px;
        display: none;
        width: 300px;
        height: 500px;
        background: #eee;
        box-shadow: 2px 2px 15px #777;
        z-index: 2;
    }

    .hamburger-content a {
        list-style: none;
        width: 100%;
        height: 50px;
        text-align: center;
        padding: 12px;
        display: block;
        font-size: 1.5em;
        text-decoration: none;
        font-size: 1.5em;
        color: black;
    }

    .hamburger-content a:hover {
        background: linear-gradient(to bottom, #ddd, #ccc);
    }

    main {
        height: calc(100% - 45px);
        padding: 5%;
    }

    form {

        width: 100%;

        height: 20%;

        margin-bottom: 5%;
        padding-top: 3vw;
        overflow-y: hidden;
    }

    iframe {
        width: 100%;
        border: 1px solid black;
        height: 75%;
    }
}

@media (min-width: 1000px) {
    .ham {
        display: none;
    }

    .hamburger {
        width: 75%;
        height: 45px;
        float: left;
        margin-left: 3%;
    }

    .hamburger-content a {
        float: left;
        text-align: center;
        padding: 10px;
        color: aliceblue;
        list-style: none;
        width: 25%;
        height: 45px;
        font-weight: bolder;
        display: block;
        font-size: 1.5em;
        text-decoration: none;
    }

    .hamburger-content a:hover {
        background: linear-gradient(to bottom, #ddd, #ccc);
        color: black;

    }

    main {
        padding: 5%;
        height: calc(100% - 45px);
    }

    form {
        float: left;
        width: 25%;
        height: 100%;
        
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    }


    iframe {
        float: right;
        width: 65%;
        border: 1px solid black;
        height: 100%;
    }
}
