* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(30deg, pink, #00ff0000 70%), linear-gradient(101deg, #0f07, #ffff0011 70%), linear-gradient(201deg, #00d9, #0000ff11 70%), linear-gradient(291deg, yellow, #fff8 70%);
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: black;
    color: white;
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;

}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-wrap: wrap;
}

.container {
    padding: 5px 5%;
    background-color: #ffd;
    border: 1px solid black;
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.resultado {
    display: flex;
    flex-direction: row;
    
    overflow-x: hidden;
    flex: 0 1 auto;
    background-color: azure;
    text-align: center;
    justify-content: center;
}

.resultado .resultado{
    flex-direction: column;
    flex: 1 0 50%;
}

.resultado h1{
    flex: 0 2 auto;
}

.resultado p{
    flex: 2 0 auto;
}

.caixaerro {
    position: absolute;
    top: 30px;
    width: 90%;
    height: 80px;
    background-color: sandybrown;
    box-shadow: 2px 2px 5px saddlebrown;

    padding: 25px 0px;
    text-align: center;
    color: orangered;
    font-weight: bold;
    z-index: 2;
    margin: 0px 5%;
}

.enviar {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
}

.enviar input {
    background-color: royalblue;
    color: antiquewhite;
    font-size: 2em;
    width: inherit;
}

.enviar input:hover{
    background-color: darkmagenta;
}

.text {
    height: 1.5em;
    background-image: linear-gradient(to bottom, lightblue, skyblue);
    border: 2px solid dodgerblue;
    border-radius: 10px/50px 5px;
    box-shadow: 1px 1px 5px royalblue;
    flex: 0 0 30px;
    display: flex;
    width: 80%;
    color: aliceblue;
    display: flex;
    flex-direction: row-reverse;
}

.text input {
    color: darkblue;
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1 0 auto;
    text-align: center;
}

.text label {
    border: 1px solid royalblue;
    border-radius: 10px/50px 5px;
    box-shadow: 1px 1px 7px royalblue;
    background-color: cornflowerblue;
    padding: 3px;
}

select {
    padding: 5px;
    text-align: center;
    width: 80%;
    font-size: 1.5em;
    flex: 0 0 auto;
    border: 2px solid green;
    border-radius: 5px/10px 50px;
    background-image: linear-gradient(lime, limegreen);
    box-shadow: 1px 1px 5px green;
}

select:focus {
    background-image: linear-gradient(hotpink, fuchsia)
}

.radio{
    flex: 0 0 30px;
    border: 1px solid deepskyblue;
    width: 50%;
    display: flex;
    border-radius: 3px/10px 5px;
    box-shadow: 1px 1px 6px royalblue, inset 1px 1px 5px skyblue;
    background-image: linear-gradient(to bottom, azure, lightblue);
}

.radio input{
    appearance: none;
    width: 50px;
    border: 1px solid skyblue;
    border-radius: 3px/10px 5px;
    box-shadow: 0px 0px 3px royalblue;
    background-image: linear-gradient(to bottom, skyblue, lightblue);
}

.radio label{
    flex: 1 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-indent: 35%;
}

.radio input:checked{
    background-image: linear-gradient(to bottom, coral, lightcoral);
    border: 1px solid brown;
    box-shadow: 0px 0px 3px maroon;
}



.radio:focus-within{
    background-image: linear-gradient(to bottom, coral, lightcoral);
    border: 1px solid brown;
    box-shadow: 0px 0px 3px maroon;
    color: maroon;
}

footer {
    text-align: center;
    width: 100%;
    background: #333;
    color: azure;
    flex: 0 1 auto;
}
